{# pagination #}
<div class="my-5">
    <nav aria-label="games pagination">
        <ul class="pagination games-pagination justify-content-center">
            {% if games.currentPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ this.page.baseFileName|page }}{{ ((games.currentPage-1) > 1 ? '?page='~(games.currentPage-1) : null) }}" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
                </li>
            {% endif %}
            {% for page in 1..games.lastPage %}
                <li class="{{ games.currentPage == page ? 'active' : null }} page-item">
                    <a class="page-link" href="{{ this.page.baseFileName|page}}?page={{ page }}">{{ page }}<a>
                </li>
            {% endfor %}
            {% if games.lastPage > games.currentPage %}
                <li class="page-item">
                    <a class="page-link" href="{{ this.page.baseFileName|page }}?page={{ games.currentPage+1 }}" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>