{% set type = __SELF__.type %}
<div class="container">
    <div class="row">
    {# item form placeholder #}
    <div>
        {{ form_ajax(__SELF__ ~ '::onSaveAlbum', {
                'files': true,
                'flash': true,
                'data-change-monitor': true,
                'data-window-close-confirm': "There are unsaved changes. Do you really want to leave the page?"
            })
        }}
            <div id="item_form">
                {% partial __SELF__ ~ '::' ~ type %}
            </div>
        {{ form_close() }}
    </div>

    </div>
</div>