{% set type = __SELF__.type %}
    {# item form placeholder #}
    <div>
        {{ form_ajax(__SELF__ ~ '::onSave', {
                'id': 'itemForm',
                'files': true,
                'flash': true,
                'data-change-monitor': true,
                'data-window-close-confirm': "There are unsaved changes. Do you really want to leave the page?"
            })
        }}
            <div id="item_form">
                {% partial __SELF__ ~ '::' ~ type %}
            </div>
        {{ form_close() }}
    </div>